* {
    font-family: 'Pacifico', cursive;
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    color: teal;
    box-shadow: 0px 1px 10px 5px #b1b1b1;
    padding: 0 1rem;
    z-index: 1;
    justify-content: space-between;
}

header nav {
    display: flex;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav li {
    display: inline-block;
    margin: 0 1.5em;
    padding: 1em;
    border: thin solid;
    border-radius: 4px;
    transition: all 0.5s;
    cursor: pointer;
}

header nav li:hover {
    background-color: teal;
    color: white;
}

header nav li:active {
    background-color: #0c4646;
}

main {
    flex: 1;
    background-color: #20232a;
    display: flex;
    justify-content: center;
    align-items: center;
}

main div {
    color: teal;
    font-size: 5rem;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}